@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100vh ;
  overflow: hidden;
  margin: 0;
  background: #000000;
  color:white;
}

.loader{
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  /* border: 1px solid red ; */
}

.section{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 9;
}